@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,300;0,500;1,200&family=Quicksand:wght@300;400;500;700&display=swap');

$color-dark: #424242;
$color-blue-lighten: #eceff1;
$color-light: #f8f9fa;
$color-white: #fff;
$color-black: #000;
$color-red-lighten: #ef9a9a;//#ffebee;
$color-gray: #ffcdd2;
$color-gray-darken: #212121;
$color-error: #e57373;

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;

$box-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);